.homepagefeatureCardContainer {
  width: 33.33%;
}
.homepagefeatureCardContainer .homepagefeatureCardimage {
  height: auto;
  width: 80%;
  text-align: center;
  z-index: 0;
}
.homepagefeatureCardContainer .carAndWishlist {
  bottom: 0;
  display: flex;
  width: 100%;
  transition: 0.5s all ease-in-out;
  z-index: 011111;
}
.homepagefeatureCardContainer:last-child {
  margin-right: auto;
}
/* .homepagefeatureCardimage:hover .carAndWishlist {
  transform: scale(1);
} */
