.homepagefeatureCardContainer {
  height: 400px;
  width: 400px;
}
.homepagefeatureCardContainer .homepagefeatureCardimage {
  height: 100%;
  width: 100%;
  z-index: 0;
}
.homepagefeatureCardContainer .carAndWishlist {
  bottom: 0;
  display: flex;
  width: 100%;
  transition: 0.5s all ease-in-out;
  z-index: 011111;
}

/* .homepagefeatureCardimage:hover .carAndWishlist {
  transform: scale(1);
} */
